button:hover {
  cursor: pointer;
}

.green {
  background-color: #32742C;
}

.red {
  background-color: #E54028;
}

.white {
  background-color: #FFFFFF;
}

.title {
  color: #E54028;
}

.pacman {
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid #FFEE00;
  border-left: 60px solid #FFEE00;
  border-bottom: 60px solid #FFEE00;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.square {
  width: 100px;
  height: 100px;
}
